<div class="collapse navbar-collapse px-5" id="mainNavbarTheme">
    <ul class="navbar-nav me-auto ms-lg-4 text-center">
        <li class="nav-item px-4">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link" asp-area="" asp-controller="ComoParticipar" asp-action="Index"> Como Participar</a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link" asp-area="" asp-controller="Regulamento" asp-action="Index"> Regulamento</a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link" asp-area="" asp-controller="DuvidasFrequentes" asp-action="Index"> Dúvidas Frequentes</a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link" asp-area="" asp-controller="Ganhadores" asp-action="Index"> Ganhadores</a>
        </li>
    </ul>
</div>
<div class="nav-item px-4">
    <a href="/login" class="btn btn-primary fw-bold" style="background-color: rgb( 3 16 87 );border: none; ">Login</a>
</div>