

<div class="collapse navbar-collapse px-5" id="mainNavbarTheme">
    <ul class="navbar-nav me-auto ms-lg-4 text-center">

        <li class="nav-item px-3">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="Cliente" asp-controller="Notas" asp-action="Cadastrar"> Enviar Nota</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="" asp-controller="Regulamento" asp-action="Index"> Regulamento</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="" asp-controller="DuvidasFrequentes" asp-action="Index"> Dúvidas Frequentes</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="Cliente" asp-controller="Notas" asp-action="Index"> Notas Enviadas</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="Cliente" asp-controller="NumerosSorte" asp-action="Index"> Meus Números da Sorte</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="Cliente" asp-controller="Cadastro" asp-action="Index"> Alterar Dados</a>
        </li>

    </ul>
</div>

<div class="nav-item px-4">
    <a href="/login/logout" class="btn btn-primary fw-bold" style="background-color: rgb( 3 16 87 );border: none; ">
        Logout
    </a>
</div>