<!-- Rodapé -->
<section>
    <div class="container-fluid" style="background-color:white">
        <div class="row">
            <div class="col-8 mt-6 fw-bold text-black">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">PERÍODO DA CAMPANHA: 01 de Novembro 2021 a 01 de Janeiro 2022</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">CADASTRO NO SITE: www.prombox.com.br</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">PERÍODO DE COMPRAS: 01/11 a 31/12/2021</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">SORTEIO: 31/12/2021</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">Regulamento completo em www.prombox.com.br</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">Certificado de Autorização SECAP</div>
                </div>
                <div class="row mb-8">
                    <div class="col-1"></div>
                    <div class="col-11" style="font-size:0.8vw;">Dúvida/Reclamação: suporte@prombox.com.br</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1">
                        <a href="http://﻿﻿www.facebook.com/promboxbr" target="_blank"><img src="~/Assets/Cliente/Icones/Facebook.png" class="img-fluid"></a>
                    </div>
                    <div class="col-1">
                        <a href="http://www.instagram.com/promboxbr/" target="_blank"><img src="~/Assets/Cliente/Icones/Insta.png" class="img-fluid"></a>
                    </div>
                    <div class="col-1">
                        <a href="https://www.youtube.com/channel/UCoyHWeI7kLMkyMxWGn2DDgA" target="_blank"><img src="~/Assets/Cliente/Icones/Youtube.png" class="img-fluid"></a>
                    </div>
                    <div class="col-1">
                        <a href="http://linkedin.com/company/promboxbr" target="_blank"><img src="~/Assets/Cliente/Icones/Linkedin.png" class="img-fluid"></a>
                    </div>
                    <div class="col-3"></div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11"  style="font-size:0.8vw;">powered by EVOT ©</div>
                </div>
            </div>
            <div class="col-4 pt-5">
                <img class="img-full-size" src="~/Assets/Cliente/Logos/rodape_logo_prombox.png" />
            </div>
        </div>
    </div>
</section>