@{ ViewData["Title"] = "RecuperarSenha"; }

<script src="~/Scripts/RecuperaSenha.js"></script>

<section class="container-fluid pb-10 pt-10" style="max-width: 400px;">
    <div>
        <p class="h4 text-center">Cadastre sua nova Senha</p>
    </div>
    <form id="senhaRecuperar">
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="senha" id="senha" placeholder="Nova Senha">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="senha2" id="senha2" placeholder="Repita sua Senha">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Ok</button>
        </div>
    </form>
</section>
