@{
    ViewData["Title"] = "Como Participar";
}
<section>
    <img class="img-full-size" src="~/Assets/Cliente/Banners/banner_como_participar.png" />
</section>
<section class="banner__home">
    <img class="img-full-size" src="~/Assets/Cliente/Banners/Banner_Prombox_01.png" />
</section>
@*<section>
        <div class="participate__container">
            <h1>VEJA COMO PARTICIPAR</h1>
            <div class="participate__container__elements">

                <div class="participate__elements">
                    <img src="..." class="rounded-circle" alt="...">
                    <p>INFORME SEU CPF</p>
                </div>

                <div class="participate__elements">
                    <img src="..." class="rounded-circle" alt="...">
                    <p>CADASTRE-SE NO SITE</p>
                    </divclass="participate__elements">

                    <div class="participate__elements">
                        <img src="..." class="rounded-circle" alt="...">
                        <p>PRONTO! Seu número da sortefoi gerado e você já estará concorrendo</p>
                    </div>

                </div>
                <button type="button" class="btn btn-primary btn-lg">VEJA AQUI O REGULAMENTO</button>
            </div>
    </section>
    <section class="banner__home">
        <img src="~/Assets/Img/exemplo01.jpg" />
    </section>*@