@{ ViewData["Title"] = "Notas Enviadas"; }

<section>
    <div>
        <div>
            <h2>CONFIRA SUAS NOTAS FISCAIS ENVIADAS</h2>
            <p>Ao realizar as compras nas lojas participantes, faça seu cadastro e troque suas notas fiscais no site da promoção Amor e Sorte na Vida</p>
        </div>
        <div>
            <p>Guarde suas notas fiscais. Elas serão solicitadas caso você seja sorteado</p>
        </div>
        <div>
            <form>
                <label for="Search"></label>
                <input type="search" id="Search" placeholder="Procurar">
            </form>
            <table>
                <tr>
                    <td>CUPOM FISCAL</td>
                    <td>CNPJ</td>
                    <td>RAZÃO SOCIAL</td>
                    <td>DATA DE ENVIO</td>
                    <td>DATA DA COMPRA</td>
                    <td>VALOR</td>
                    <td>STATUS</td>
                </tr>
            </table>
        </div>
    </div>
</section>