<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Prombox</title>
</head>
<body>
    <!--<p style="text-align:center">
        <img alt="Logo" src="#APP_URL#/assets/img/logo.jpg" width="150" />
    </p>-->
    <p style="text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:18px;">
        Sua nova senha é:
        <br />
        <br />
        <strong style="background: #eee; padding: 20px;">#PASSWORD#</strong>
    </p>
</body>
</html>