<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Prombox</title>
</head>
<body>
    <p style="text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:18px;">
        Caro (a) #NOME#,
        <br />
        <br />
    </p>
    <p style="text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:18px;">
        Seu cadastrado foi realizado com sucesso.<br />
        Login: #LOGIN#<br />
        Senha: #SENHA#<br />
        <br />
        <br />
        <a href="#APP_URL#">#APP_URL#</a>
    </p>
</body>
</html>