@{
    ViewData["Title"] = "Conheça os Ganhadores";
}

<section>
    <img class="img-full-size" src="~/Assets/Cliente/Banners/Ganhador.png" />
    @*<div class="container">
        <div>
            <p class="h2 pt-10 mb-6 text-center">Confira abaixo os ganhadores da Promoção</p>
        </div>
        <div>
            <h4 class="text-center">Nenhum ganhador no momento. Aguarde novas atualizações.</h4>
        </div>
        <div class="d-flex justify-content-center text-center mb-10 mt-10">*@
    @*<table class="table table-primary table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ganhadores</th>
                    <th scope="col">Cupom</th>
                    <th scope="col">Social</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>3123123</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>635463</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>7843627</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Jacob</td>
                    <td>32432123</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Marcos</td>
                    <td>4324555</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Jacob</td>
                    <td>4324343</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Jacob</td>
                    <td>768768678</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Jacob</td>
                    <td>43245664</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Jacob</td>
                    <td>6554675</td>
                    <td>#twitter</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Jacob</td>
                    <td>4355436</td>
                    <td>#twitter</td>
                </tr>
            </tbody>
        </table>*@
    </div>
    </div>
</section>

<section class="banner__home">
    <img class="img-full-size" src="~/Assets/Cliente/Banners/Banner_Prombox_02.png" />
</section>

