@{ ViewData["Title"] = "Regulamento"; }

<section>
    <div class="regulamento__container text-center">
        <br><br><br>
        <h2>REGULAMENTO DA PROMOÇÃO</h2>
        <br>
        <object data="~/Assets/Cliente/Regulamento/regulamento.pdf" type="application/pdf" style="min-height:100vh;width:100%"></object>
    </div>
</section>